<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <div style="text-align: center; margin-top: 200px;">
        <h1>Login with Username and Password</h1>
        <form th:action="@{/app/login}" method="post" style="width: 300px; margin: 0 auto;">
            <div style="margin-bottom: 10px; display: flex; align-items: center;">
                <label for="username" style="width:80px; text-align: left">User:</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div style="margin-bottom: 10px; display: flex; align-items: center;">
                <label for="password" style="width:80px; text-align: left">Password:</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div style="text-align: left">
                <button type="submit">Se connecter</button>
            </div>
            <div th:if="${param.error}">
                <p style="color:red;">Nom d'utilisateur ou mot de passe incorrect</p>
            </div>
            <div th:if="${param.logout}">
                <p style="color:green;">Vous êtes déconnecté avec succès</p>
            </div>
        </form>
    </div>

</body>
</html>